html{
    height: 100%;
}

header{
    flex-grow: 1;
    border: solid;
    text-align: center;

}

body{
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 0 5% 0 5%;
    border: solid;
}

form{
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    border: solid;
    justify-content: center;
    align-items: center;
}


footer{
    flex-grow: 1;
    border: solid

}