html{
    height: 100%;
}

body{
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 0 5% 0 5%;
    border: solid;
    justify-content: space-around;
}

h1{
    flex-grow: 1;
    text-align: center;
}

form{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-top: solid;
    flex-grow: 4;

}