html{
    height: 100%;
}

body{
    display: flex;
    max-height: 100%;
    flex-direction: column;
    margin: 0 5% 0 5%;
}

header{
    text-align: center;
    border: solid;
    flex-grow: 1;

}

.buttons{
    display: flex;
    flex-direction: row;
}

.menu_addMovie{
    border: solid;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.menu_addPeople{
    border: solid;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}



.list{
    border: solid;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: thin;
    flex-grow: 4;
}

.filter{
    flex-grow: 1;
    text-align: center;
}

.movie{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    border: solid;
    max-width: 15rem;
    flex-grow: 1;
}

.movie_title{
    border: solid;
    text-align: center;
}

footer{
    text-align: center;
    flex-grow: 1;
    border: solid;
}