html{
    height: 100%;
}

body{
    display: flex;
    max-height: 100%;
    flex-direction: column;
    margin: 0 5% 0 5%;
}

header{
    text-align: center;
    border: solid;
    flex-grow: 1;
    display: flex;
    flex-direction: row;


}


.buttons>a{
    display: flex;
    justify-content: center;

}
.menu_accueil_button{
    flex-grow: 1;
    justify-content: start;
}

h1{
    flex-grow: 15;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;


}

.menu_updateMovie_button{
    flex-grow: 1;
}

.menu_deleteMovie_button{
    flex-grow: 1;
}

main{
    border: solid;
    display: flex;
    flex-direction: Column;
    overflow-y: scroll;
    scrollbar-width: thin;
    flex-grow: 4;


}

.people{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 40px 5% 0 5%;
}

.people__image{
    flex-grow: 1;
    border: solid;
    max-width: 7rem;
}

.people__info{
    display: flex;
    flex-direction: column;
    flex-grow: 15;
    justify-content: space-around;
}

.people__name{
    flex-grow: 1;
    border: solid;
    justify-content: space-around;
}
.people__placeofbirth{
    flex-grow: 1;
    border: solid;
}

.people__dates{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    border: solid;
    justify-content: space-evenly;
}

.people__date_Birth{
    border-right: solid;
    flex-grow: 1;
    margin-right: 20px;

}

.idk{
    text-align: center;;
}

.people__date_Death{
    border-left: solid;
    flex-grow: 1;
    margin-right: 20px;
}

.people__bio{
    flex-grow: 3;
    border: solid;
}

.movie{
    display: flex;
    flex-direction: row;
    border: solid;
    margin: 40px 5% 0 5%;
}

.movie__poster{
    flex-grow: 1;
    border: solid;
    max-width: 15rem;
}

.movie__description{
    flex-grow: 9;
    display: flex;
    flex-direction: column;
}

.movie__description_first_line{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border: solid;
}

.movie__title{
    flex-grow: 9;
}

.movie__releaseDate{
    flex-grow: 1;
    border-left: solid;
}

.movie__description_second_line{
    flex-grow: 1;
    border: solid;
}
footer{
    text-align: center;
    flex-grow: 1;
    border: solid;
}